/* Tables / parcours */
.parcours {
    justify-items: center;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px ;
    background-color: #ffffff;
    color: #000000;
}

th {
    background-color: rgba(145, 138, 138, 0.8);
    color: rgb(0, 0, 0);
}

table{
    border-collapse: collapse;
}